<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'app/edit_show.css' %}">
    <title>Edit show</title>
</head>
<body>
    <nav class="navbar bg-dark navbar-dark navbar-expand-md">
        <span class="navbar-brand">TV GUIDANCE</span>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#myNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="shows/all" class="nav-link">All Shows</a>
                </li>
                <li class="nav-item">
                    <a href="/shows/new" class="nav-link">Add a Show</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row"> 
            <div class="col-lg-6">
                <div class="jumbotron">
                    <a class="display-4" href="/shows/{{show.id}}">{{show.name}}</a>
                    <p class="lead">Network: {{show.network}}</p>
                    <form action="/shows/{{show.id}}/update" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Title:</label>
                            <input type="text" class="form-control" name="name" value="{{show.name}}">
                        </div>
                        <div class="form-group">
                            <label for="network">Network:</label>
                            <input type="text" class="form-control" name="network" value="{{show.network}}">
                        </div>
                        <button type="submit" class="btn btn-update">Update</button>
                    </form>
                    <form action="/shows/{{show.id}}/delete" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-delete">Delete</button>
                    </form>
                    <div class="col-sm-5">
                        {% if messages %}
                            {% for message in messages %}
                                <h3>{{message}}</h3>
                            {% endfor %}
                        {% endif %}    
                    </div>
                </div>
            </div>           
            <div class="col-lg-6">
                <h3>Ratings for {{show.name}}</h3>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Stars</th>
                            <th>User</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for rating in ratings %}
                        <tr>
                            <td>{{rating.rating}}</td>
                            <td>{{rating.user.first_name}} {{rating.user.last_name}}</td>
                        </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
