a {
    color: black;
}

a:hover {
    color: black;
}

thead {
    color: #EEC10C;
    background-color: #343A40;
    border-bottom: 4px solid #EEC10C;
}

.form-control:focus {
    border-color: #7c7c7c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 124, 124, 0.6);
}

.navbar {
    border-bottom: 6px solid #EEC10C;
}

.navbar-brand {
    font-family: 'Baloo Bhai';
    color: #EEC10C !important;
    font-size: 36px;
}

.jumbotron {
    color: #EEC10C;
    background-color: #343A40;
}

.navbar-toggler:focus {
    outline: none;
    border-color: #EEC10C;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(238, 193, 12, 0.6);
}

.btn-create {
    margin-top: 10px;
    color: white;
    background-color: #3CA79C;
}

.btn-create:hover {
    color: #343A40;
}

.btn-create:focus {
    outline: none;
    border-color: #3CA79C;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(60, 167, 156, 0.6);
}

.error {
    color: #B74637;
    margin-top: 20px;
    margin-bottom: 0px;
}

.nav-link {
    color: #EEC10C !important;
    font-weight: 900;
}

.nav-link:hover {
    color: white !important;
    transition: .3s;
}