body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EAEAEA;
}

a {
    color: black;
}

h3 {
    display: inline;
}

a:hover {
    color: black;
}

.ajax_form {
    display: inline;
    margin-left: 15px;
}

.ajax_form input {
    vertical-align: bottom;
    padding: 2px 5px 2px 5px;
    border:2px solid gray;
    border-radius: 3px;
}

.ajax_form input:focus {
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 124, 124, 0.6);
}

.navbar {
    border-bottom: 4px solid #C84B47;
    background-color: white;
}

.navbar-brand {
    font-family: 'Comfortaa', cursive;
    color: #283A44 !important;
    font-size: 32px;
}

thead {
    color: white;
    background-color: #283A44;
    border-bottom: 4px solid #B74637;
}

.icon {
    width: 40px;
    margin-right: 12px;
    vertical-align: top;
}

.navbar-toggler:focus {
    outline: none;
    border-color: #B74637;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(200, 75, 71, 0.6);
}

.nav-link {
    font-family: 'Comfortaa', cursive;
    color: #283A44 !important;
    font-size: 18px;
}

.nav-link:hover {
    color: #B74637 !important;
    transition: .3s;
}
