a {
    color:#212529;
}

h3 {
    display: inline;
}

a:hover {
    color: black;
}

.ajax_form {
    display: inline;
    margin: 20px;
}

.ajax_form input {
    border:2px solid gray;
    border-radius: 3px;
}

.ajax_form input:focus {
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 124, 124, 0.6);
}

.navbar {
    border-bottom: 6px solid #EEC10C;
}

.navbar-brand {
    font-family: 'Baloo Bhai';
    color: #EEC10C !important;
    font-size: 36px;
}

thead {
    color: #EEC10C;
    background-color: #343A40;
    border-bottom: 4px solid #EEC10C;
}

.navbar-toggler:focus {
    outline: none;
    border-color: #EEC10C;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(238, 193, 12, 0.6);
}

.nav-link {
    color: #EEC10C !important;
    font-weight: 900;
}
