body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EAEAEA;
}

table {
    background-color: white !important;
}

thead {
    color: white;
    background-color: #283A44;
    border-bottom: 4px solid #B74637;
}

.topbar {
    background-color: #283A44;
}

.brand {
    font-family: 'Comfortaa', cursive;
    color: #B74637 !important;
    font-size: 32px;
    margin-top: 18px;
}

.nav-link {
    margin-bottom: 18px;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 18px;
}

.nav-link.active {
    color: #B74637;
}

.nav-link:hover {
    color: #B74637;
    transition: .3s;
}

.display-4 {
    color: #283A44;
}

.display-4:hover {
    color: #283A44;
    text-decoration: none;
}

.lead {
    margin-top: 8px;
}

.btn-update {
    color: white;
    margin-top: 8px;
    background-color: #283A44;
}

.btn-update:hover {
    color: #B74637;
}

.btn-update:focus {
    outline: none;
    border-color: #283A44;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(40, 58, 68, 0.6);
}

.btn-delete {
    color: white;
    margin-top: 25px;
    background-color: #B74637;
}

.btn-delete:hover {
    color: #283A44;
}

.btn-delete:focus {
    outline: none;
    border-color: #B74637;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(183, 70, 55, 0.6);
}

li {
    color: #B74637;
}

.jumbotron {
    color: #283A44;
    background-color: white;
}

.navbar-toggler:focus {
    outline: none;
    border-color: #B74637;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(200, 75, 71, 0.6);
}