.navbar {
    border-bottom: 6px solid #EEC10C;
}

.navbar-brand {
    font-family: 'Baloo Bhai';
    color: #EEC10C !important;
    font-size: 36px;
}

.display-4 {
    color: #EEC10C;
}

.display-4:hover {
    color: #EEC10C;
    text-decoration: none;
}

.lead {
    margin-top: 8px;
}

.btn-update {
    color: white;
    margin-top: 8px;
    background-color: #3CA79C;
}

.btn-update:focus {
    outline: none;
    border-color: #3CA79C;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(60, 167, 156, 0.6);
}

.btn-delete {
    color: white;
    margin-top: 25px;
    background-color: #B74637;
}

.btn-delete:focus {
    outline: none;
    border-color: #B74637;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(183, 70, 55, 0.6);
}

.btn:hover {
    color: #343A40;
}

.jumbotron {
    color: #EEC10C;
    background-color: #343A40;
}

thead {
    color: #EEC10C;
    background-color: #343A40;
    border-bottom: 4px solid #EEC10C;
}

.nav-link {
    color: #EEC10C !important;
    font-weight: 900;
}

.nav-link:hover {
    color: white !important;
    transition: .3s;
}

.navbar-toggler:focus {
    outline: none;
    border-color: #EEC10C;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(238, 193, 12, 0.6);
}