body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EAEAEA;
}

a {
    color: black;
}

a:hover {
    color: black;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

table {
    border-radius: 6px !important;
    background-color: white !important;
}

table th:first-child{
    border-radius: 6px 0 0 0;
}
  
table th:last-child{
    border-radius: 0 6px 0 0;
}

thead {
    color: white;
    background-color: #283A44;
    border-bottom: 4px solid #B74637;
}

.brand {
    font-family: 'Comfortaa', cursive;
    color: #B74637 !important;
    font-size: 32px;
    margin-top: 18px;
}

.topbar {
    background-color: #283A44;
}

.nav-link {
    margin-bottom: 18px;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 18px;
}

.nav-link.active {
    color: #B74637;
}

.nav-link:hover {
    color: #B74637;
    transition: .3s;
}