body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EAEAEA;
}

li {
    font-weight: 800;
    color: #C84B47;
}

h2 {
    color: #283A44;
}

.icon {
    width: 40px;
    margin-right: 12px;
    vertical-align: top;
}

.navbar {
    border-bottom: 4px solid #C84B47;
    background-color: white;
}

.navbar-brand {
    font-family: 'Comfortaa';
    color: #283A44;
    font-size: 32px;
}

.form-control:focus {
    border-color: #7c7c7c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 124, 124, 0.6);
}

.btn {
    color: white;
    background-color: #283A44;
}