body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EAEAEA;
}

table {
    border-radius: 6px !important;
    background-color: white !important;
}

table th:first-child{
    border-radius: 6px 0 0 0;
}
  
table th:last-child{
    border-radius: 0 6px 0 0;
}

thead {
    color: white;
    background-color: #283A44;
    border-bottom: 4px solid #B74637;
}

.brand {
    font-family: 'Comfortaa', cursive;
    color: #B74637 !important;
    font-size: 32px;
    margin-top: 18px;
}

.topbar {
    background-color: #283A44;
}

.nav-link {
    margin-bottom: 18px;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 18px;
}

.nav-link:hover {
    color: #B74637;
    transition: .3s;
}

.btn-edit {
    color: white;
    background-color: #B74637;

}

.btn-edit:hover {
    color: #283A44;
}

.btn-edit:focus {
    outline: none;
    border-color: #B74637;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(183, 70, 55, 0.6);
}

.btn-rate {
    color: white;
    background-color: #283A44;
}

.btn-rate:hover {
    color: #B74637;
}

.btn-rate:focus {
    outline: none;
    border-color: #283A44;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(40, 58, 68, 0.6);
}

.jumbotron {
    color: #283A44;
    background-color: white;
}

.form-control {
    border: 3px solid #283A44;
    width: 59px;
    color: #343A40;
    background-color: white;
}

.form-control:focus {
    outline: none;
    border-color: #283A44;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(40, 58, 68, 0.6);
}

.divider {
    border: 3px solid #283A44;
}

.navbar-toggler:focus {
    outline: none;
    border-color: #B74637;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(200, 75, 71, 0.6);
}
